@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  scroll-behavior: smooth;
  color: #848484;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo-icon {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  color: #063D58;
  font-size: 30px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red-icon {
  fill: red !important;
  color: red;
}

.blue-icon {
  fill: #063D58 !important;
  color: #063D58;
}

@media screen and (max-width: 600px) {
  .desktoponly {
    display: none !important;
  }

  .wrapper {
    padding: 10px !important;
  }

  .mobile-view-flex {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .title-card {
    font-size: 20px !important;
  }

  .mobile-no-m-p {
    margin-top: 0 !important;
  }

  .main-heading {
    font-size: 20px !important;
    line-height: 24px !important;
  }

  .related-prod-section {
    padding: 92px 0px !important;
  }
}