.navigation_sticky{
    background-color: white !important;
    color: #063D58;
    box-shadow: none !important;
    border-bottom: 1px solid #063D58;
    height: 80px;
    padding-left: 6%;
    padding-right: 6%;
}

.navigation_links{
  font-family: 'Philosopher', sans-serif;
  font-weight: 600;
  color: #063D58;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 15px;
  line-height: 17px;
  transition: all ease-in 0.3s;
}

.navigation_links:hover{
    color: #e78764;
}